<%- include ("partials/header") -%>
<div class="home">
  <h1>Home</h1>
  <p><%=home %></p>
  <% var title = ""%> <% var body = ""%> <% post.forEach(function(e){ %>
  <h1><%=title =e.title%></h1>

  <p>
    <%=body = (e.body).substring(0,100) + "..."%>
    <a href="/postName/<%=e.title%>">Read more</a>
  </p>

  <%})%>
</div>
<!-- <h1> <%= title %> </h1>
<p> <%= body %> </p> -->

<%- include ("partials/footer") -%>
